ultralytics>=8.0.0
torch>=2.4.1
torchaudio>=2.4.1
torchvision>=0.19.1
python-dotenv>=1.0.1
pandas>=2.2.3
numpy>=1.26.4
PyYAML>=6.0.2
requests>=2.32.3
opencv-python>=4.10.0.84
fastapi>=0.115.4
uvicorn>=0.32.0
scikit-learn>=1.5.2